body {
    background-color: white;
    padding-top: 50px;
}
.navbar-brand {
    font-family: 'Oxygen', sans-serif;
}
section {
    #placeholder-text {
        margin: 15px;
    }
}
footer {
    height: 120px;
    background-color: #212121;
}
@media only screen and (min-width: 768px) {
    section {
        #placeholder-text {
            column-count: 2;
        }
    }
}
@media only screen and (min-width: 960px) {
    section {
        #placeholder-text {
            column-count: 3;
        }
    }
}